@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
main{
    background-color: rgb(106, 0, 106);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#text{
    background: radial-gradient(rgb(255, 0, 230),rgb(180, 3, 174));
    background-clip: padding-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 100px;
}